form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

    button {
        margin-top: 16px;
    }
}

label {
    display: flex;
    align-items: center;
    gap: 4px;
}

input,
label {
    width: 100%;
    text-align: left;
}

input {
    height: 32px;
    padding: 4px;
    font-family: inherit;
    border: 1px solid $primary;
    border-radius: 8px;
    outline: none;
    
    &:focus {
        border: 2px solid $primary;
    }
}

.password-input-container {
    width: 100%;
    position: relative;

    .show-pass-icon,
    .hide-pass-icon {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}

.form-error {
    color: $error;
    font-size: 14px;
}