header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    background-color: $primary;
    color: $light;

    @media #{$tablet} {
        padding: 0 2rem;
    }

    .cart-icon {
        font-size: 24px;
    }

    .cart-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 18px;

        span {
            display: none;
            
            @media #{$tablet} {
                display: inline-block;
            }
        }

    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    .profile-link {
        font-size: 18px;
    }

    .logout-btn {
        margin-right: -1rem;
    }
}