$main-font: "SUSE", system-ui;

//Colors
$dark: #151515;
$light: #fbfbfb;
$light-grey: #c3c3c3;
$primary: #2a013f;
$secondary: #dfa00f;

//media queries
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1280px)";
$desktop-large: "(min-width: 1600px)";